.add-user{
    Top:580px;
}
.btn-cancle{
    Top:580px;
}
.add-group{
    Top:560px;
}
.cancle-group{
    Top:560px;
}
.btn-resetpass{
    top: 260px;
    left: 50px;
}
.text-heder{
    text-align: center;
}