.Map {
    text-align: center;
}

.btnsidebar {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 10px;
    right: 60px;
    padding: 5px;
    margin-top: -9px;

}

.btn1 {
    background-color: #3553A4;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn1:hover {
    background-color: white;
    color: black;
}